<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="checkbox">
    <label>
        <f:form.checkbox id="bsd-contraceptive-costs" property="contraceptiveCosts" value="1"/>
        <f:translate key="contraceptive-costs-form-label"/>
        <span aria-hidden="true" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="{f:translate(key: 'contraceptive-costs-notice-body')}"></span>
    </label>
</div>
</html>
